

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

p {
    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}


  .product-card {
    margin-bottom: 20px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
  }

  .product-details {
    padding: 20px;
  }

  .product-title {
    font-size: 18px;
    font-weight: bold;
  }

  .product-description {
    margin-top: 10px;
  }

  .product-price {
    font-size: 16px;
    color: #007BFF;
  }

  .product-stock {
    margin-top: 10px;
  }